body{
    max-width: 1200px;
    margin: auto;
}
header{
    text-align: center;
    background-image: url("images/punakaiki-1716073_1280.jpg");
    background-position: 0 30%;
}

header h2{
    font-size: 4em;
}
header h3 {
    font-size: 2em;
}
header h4{
    font-size: 0.75em;
}